@use '../base/vars' as v;


.paso {

    transition: transform .3s ease;

    &:hover {
        transform: translateY(-10px);
    }

    &__icono {
        font-size: 4rem;
        color: v.$primary;
        display: block;
    }

    &__titulo {
        font-weight: 700;
        margin-top: 1.5rem;
    }

    &__texto {
        color: v.$secondary; 
        font-size: 1.6rem;
    }
}