@use '../base/vars' as v;

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 900;
    
    span {
        color: v.$primary;
    }
}

.nav-link {
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: color .3s ease;

    &:hover {
        color: v.$primary !important;
    }
}

.header-inicio {
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.7)),
        url('/assets/img/hero/hero.jpg');
    background-size: cover;
    background-position: center;
}